html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

body {
  padding: 32px;
  font-size: 14px;
  font-family: Hevletica, Arial, Sans-serif;
}

div#content {
  margin: 32px auto;
  width: 760px;
}  

h1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -2px;
}

h1 img {
  clear: both;
  display: block;
  padding: 16px 0 32px 0;
  margin-left: -38px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-top: 16px;
  padding-bottom: 16px;
}

p,
ul {
  width: 760px;
}

p {
  /* font-size: 24px; */
}

ul {
  margin: 0 auto;
  list-style-type: disc;
}

#sign-in {
  display: block;
  width: 151px;
  height: 24px;
  margin: 0 auto;
}

.container {
  margin:0 auto;
  overflow:hidden;
  padding:32px;
  width:768px;
}

body.funnels-show a.beer-picture img {
  max-width: 240px;
}


iframe {
  width: 760px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ss-required-asterisk {
  color: red;
  padding-top: 16px;
}

textarea, input { display: block; }
